<head>
  <h1 class="editheader">New note</h1>
</head>
<body>
  <%= render 'form' %>
  <br>
  <p><li class="menuoptions"><%= link_to 'Back to Notes', notes_path %></li></p>
  <p><li class="menuoptions"><%= link_to 'Back to Songs', songs_path %></li></p>

</body>
