<h1 class="editheader">Editing Song</h1>
<%= render 'form' %>
<br>
<p><li class="menuoptions"><%= link_to 'Show Song', @song %></li></p>
<p><li class="menuoptions"><%= link_to 'Back To Songs', songs_path %></li></p>
