<head>
  <h1 class="newheader">Add a Song!</h1>
</head>
<body>
  <%= render 'form' %>
  <br>
  <p>______________</p>
  <p><li class="menuoptions"><%= link_to 'Back to Songs', songs_path %></li></p>
</body>
