@import "bootstrap-sprockets";
@import "bootstrap";

$font: 'Work Sans', sans-serif;

body {
  font-family: $font;
  font-size: 10px;
}

p {
 color: white;
}

pre {
  padding: 10px;
  font-size: 11px;
}

th {
  color: #006400;
}

td, td a, li a {
  color: white;
}

h1.editheader, h1.newheader {
  color: white;
  padding: 10px;
}

li.addsong {
  background-color: #006400;
  text-align: center;
  list-style: none;
}

td a {
  background-color: #006400;
}

td.td {
   padding-right: 10px;
}

b.show {
    color: #006400;
}

li a:hover, td a:hover {
  color: white
}

li.addsong :hover ,td a:hover{
  font-size: 110%;
}

#notice {
  color: #006400;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 250px;
  border: 1px solid red;
  padding: 4px 4px 0;
  margin-bottom: 10px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 15px;
    list-style: square;
  }
}

label {
  display: block;
}
