// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.songheader {
  color: white;
  padding: 30px;
}

p.songparagraph {
  color: white;
  padding: 15px;
}
