<footer class="footer">
  <p>Spotifay by Oguz Gokyuzu</p>

  <nav>
    <ul>
      <li class="navbar"><%= link_to "About Me", about_path %></li>
      <li class="navbar"><%= link_to "Contact Me", contact_path %></li>
    </ul>
  </nav>

</footer>
