<header class="headernavbar">

  <div class="container">
    <h1 class="spotifay"><a href="/">Spotifay</a></h1>
    <nav>
      <ul>
        <li class="navbar"><%= link_to "My Songs", songs_path %></li>
        <li class="navbar"><%= link_to "My Notes", notes_path %></li>
        <li class="navbar"><%= link_to "My Favorites", favorites_path %></li>
      </ul>
    </nav>

  </div>

</header>
